:root {
  --side-bar-bg-color: #d9d0bc;
  --control-text-color: #777;
  --select-text-bg-color: #b8b09e;
  --rawblock-edit-panel-bd: rgb(250, 245, 222);
  --blur-text-color:#B3B3B3;
  --title-color:#D94F8A;
  --a-color:#315c86;
  --title-font-family:"Times New Roman", "楷体";
  --body-font-family:"Times New Roman", "楷体";
  --math-font-family2:"Palatino Linotype";
}

strong{
  font-weight:900;
}

@include-when-export url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), url("./github/400.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: local("Open Sans Italic"), url("./github/400i.woff") format("woff");
}

@font-face {
  font-family: "math";
  font-style: normal;
  font-weight: normal;
  src: url("https://gitee.com/shandianchengzi/typora-self-use-css/raw/master/MathJax_Main.woff2.ttf") ;
}

@font-face {
  font-family: "math_loc";
  font-style: normal;
  font-weight: normal;
  src: url("./MathJax_Main.woff2.ttf") ;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Bold"), url("./github/700.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: local("Open Sans Bold Italic"), url("./github/700i.woff") format("woff");
}

html {
  font-size: 16px;
  background-color: #d9d0bc; /*body bg color*/
}

body {
  font-family: "math_loc", "Mathjax_main", "math", var(--body-font-family), "Clear Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

#write {
  max-width: 860px;
  margin-top: 30px; /*top*/
  margin-bottom: 30px;
  padding: 100px 60px; /*top to title padding*/
  border-radius: 5px;
  -o-box-shadow: 0 10px 10px #333333;
  -webkit-box-shadow: 0 10px 10px #333333;
  -moz-box-shadow: 0 10px 10px #333333;
  box-shadow: 0px 50px 100px #333333;
  counter-reset: h1;
}
#write > ul:first-child,
#write > ol:first-child {
  margin-top: 30px;
}

body > *:first-child {
  margin-top: 0 !important;
}
body > *:last-child {
  margin-bottom: 0 !important;
}
a {
  color: var(--a-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", "Arial";
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none;
}
h1 tt,
h1 code {
  font-size: inherit;
}
h2 tt,
h2 code {
  font-size: inherit;
}
h3 tt,
h3 code {
  font-size: inherit;
}
h4 tt,
h4 code {
  font-size: inherit;
}
h5 tt,
h5 code {
  font-size: inherit;
}
h6 tt,
h6 code {
  font-size: inherit;
}
/* No link underlines in TOC */
.md-toc-inner {
  text-decoration: none;
}

.md-toc-content {
  counter-reset: h1toc;
}

.md-toc-h1 {
  margin-left: 0;
  font-size: 1.5rem;
  counter-reset: h2toc;
}

.md-toc-h2 {
  font-size: 1.1rem;
  margin-left: 2rem;
  counter-reset: h3toc;
}

.md-toc-h3 {
  margin-left: 3rem;
  font-size: 0.9rem;
  counter-reset: h4toc;
}

.md-toc-h4 {
  margin-left: 4rem;
  font-size: 0.85rem;
  counter-reset: h5toc;
}

.md-toc-h5 {
  margin-left: 5rem;
  font-size: 0.8rem;
  counter-reset: h6toc;
}

.md-toc-h6 {
  margin-left: 6rem;
  font-size: 0.75rem;
}

.md-toc-h1:before {
  color: var(--a-color);
  counter-increment: h1toc;
  content: "";
}

.md-toc-h1 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h2:before {
  color: var(--a-color);
  counter-increment: h2toc;
  content: counter(h2toc) " ";
}

.md-toc-h2 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h3:before {
  color: var(--a-color);
  counter-increment: h3toc;
  content: counter(h2toc) "." counter(h3toc) " ";
}

.md-toc-h3 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h4:before {
  color: var(--a-color);
  counter-increment: h4toc;
  content: counter(h2toc) "." counter(h3toc) "." counter(h4toc) " ";
}

.md-toc-h4 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h5:before {
  color: var(--a-color);
  counter-increment: h5toc;
  content: "(" counter(h5toc) ") ";
}

.md-toc-h5 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h6:before {
  color: var(--a-color);
  counter-increment: h6toc;
  content: counter(h6toc) ") ";
}

.md-toc-h6 .md-toc-inner {
  margin-left: 0;
}
.sidebar-content {
  counter-reset: h1;
}

.outline-h1 {
  counter-reset: h2;
}

.outline-h2 {
  counter-reset: h3;
}

.outline-h3 {
  counter-reset: h4;
}

.outline-h4 {
  counter-reset: h5;
}

.outline-h5 {
  counter-reset: h6;
}

.outline-h1 > .outline-item > .outline-label:before {
  counter-increment: h1;
  content: "";
}

.outline-h2 > .outline-item > .outline-label:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

.outline-h3 > .outline-item > .outline-label:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}

.outline-h4 > .outline-item > .outline-label:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

.outline-h5 > .outline-item > .outline-label:before {
  counter-increment: h5;
  content: "(" counter(h5) ") ";
}

.outline-h6 > .outline-item > .outline-label:before {
  counter-increment: h6;
  content: counter(h6) ") ";
}
/** put counter result into headings */
#write h1:before {
  counter-increment: h1;
  content: "";
}

#write h2:before {
  counter-increment: h2;
  content: counter(h2) " ";
}

#write h3:before,
h3.md-focus.md-heading:before /** override the default style for focused headings */ {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}

#write h4:before,
h4.md-focus.md-heading:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

#write h5:before,
h5.md-focus.md-heading:before {
  counter-increment: h5;
  content: "(" counter(h5) ") ";
}

#write h6:before,
h6.md-focus.md-heading:before {
  counter-increment: h6;
  content: counter(h6) ") ";
}

/** override the default style for focused headings */
#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}
h1 {
  font-family: var(--title-font-family);
  padding-bottom: 0.3em;
  font-size: 3em;
  line-height: 1.2;
  border-bottom: 1px solid #9b9692;
  counter-reset: h2;
  color:var(--title-color);
}
h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  /*border-bottom: 1px solid #9b9692;*/
  counter-reset: h3;
  color:var(--title-color);
  font-family: var(--title-font-family);
}
h3 {
  font-size: 1.5em;
  line-height: 1.43;
  counter-reset: h4;
  color:var(--title-color);
  font-family: var(--title-font-family);
}
h4 {
  font-size: 1.25em;
  counter-reset: h5;
  color:var(--title-color);
  font-family: var(--title-font-family);
}
h5 {
  font-size: 1em;
  counter-reset: h6;
  color:var(--title-color);
  font-family: var(--title-font-family);
}
h6 {
  font-size: 1em;
  color:var(--title-color);
  font-family: var(--title-font-family);
}
p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.8em 0;
}
li > ol,
li > ul {
  margin: 0 0;
}
hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}
li p.first {
  display: inline-block;
}
ul,
ol {
  padding-left: 30px;
}
ul:first-child,
ol:first-child {
  margin-top: 0;
}
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
blockquote {
  border-left: 4px solid rgb(176, 173, 155);
  padding: 0 15px;
  color: #777777;
}

blockquote blockquote {
  padding-right: 0;
}
table {
  padding: 0;
  word-break: initial;
}
table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
  background-color: rgba(218, 111, 141, 0.952); /*若竹*/
}
table tr:nth-child(2n),
thead {
  background-color: rgba(227, 175, 231, 0.301); /*set even row color*/
}
tbody tr:nth-child(2n-1) {
  background-color: rgba(250, 200, 242, 0.24); /*only odd row has color*/
}
table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

.CodeMirror-lines {
  padding-left: 4px;
}

.code-tooltip {
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3);
  border-top: 1px solid #eef2f2;
}

code {
  background-color: #f3f4f4;
  padding: 0 4px 2px 4px;
}

.md-fences {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0.2em 1em;
  padding-top: 8px;
  padding-bottom: 6px;
}
.md-task-list-item > input {
  margin-left: -1.3em;
}

@media screen and (min-width: 914px) {
  /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}
@media print {
  html {
    font-size: 13px;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
}
#write pre.md-meta-block {
  padding: 1rem;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
  color: #777777;
  margin-top: 0 !important;
}
.md-fences,
code,
tt {
  /*border: 1px solid #e7eaed;*/
  background-color: #ffffe5; /* code block inline BGcolor */
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.8em;
  font-family: Comic Sans MS;
  /*color: #f9f2f4; /*code block inline font color*/
}

.md-fences {
  background-color: rgb(255, 250, 227); /*code block bg color*/
  color: rgb(239, 159, 80); /*comma*/
}
.cm-s-typora-default .cm-header, .cm-s-typora-default .cm-property{
  color:var(--title-color);
}
.cm-s-inner .cm-comment {
  color: #c2a5ed; /*comment color*/
}
.cm-s-inner .cm-keyword {
  color: #c678dd; /*function*/
}
.cm-s-inner .cm-def {
  color: #60a8cc;
}
.cm-s-inner .cm-operator {
  color: #b75bd0;
} /*return var*/
.cm-s-inner .cm-variable {
  color: #d19a66; /*window*/
}
.cm-s-inner .cm-variable-2 {
  color: #e2b76a;
} /*window jquery*/
.cm-s-inner .cm-string {
  color: #98c379;
} /* string */
.cm-s-inner .cm-attribute {
  color: #ffcb6b;
}
.cm-s-inner .cm-property {
  color: #d19a66;
} /*property*/
.cm-s-inner .cm-variable-3 {
  color: #ff9900;
}
.cm-s-inner .cm-error {
  color: rgba(209, 154, 102, 1);
  background-color: #448867;
}
.cm-s-inner .cm-atom {
  color: #f77669;
} /*null undefined*/
.cm-s-inner .cm-number {
  color: #f77669;
}
.cm-s-inner .cm-builtin {
  color: #ff9900;
} /*system built in command*/
.cm-s-inner .cm-tag {
  color: #80cbc4;
} /*LaTeX command*/
.cm-s-inner .cm-meta {
  color: #80cbc4;
} /*LaTeX command*/
.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.mathjax-block > .code-tooltip {
  bottom: 0.375rem;
}

.md-mathjax-midline {
  background-color: #57616b;
  border-bottom: none;
}

.md-inline-math script {
  color: #002266;
} /*
.md-inline-math g,
.md-inline-math svg {
    stroke: #b8bfc6 !important;
    fill: #b8bfc6 !important;
    
}

[md-inline='inline_math'] {
    color: #9CB2E9;
}*/
#write > h3.md-focus:before {
  left: -1.5625rem;
  top: 0.375rem;
}
#write > h4.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}
#write > h5.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}
#write > h6.md-focus:before {
  left: -1.5625rem;
  top: 0.285714286rem;
}
.md-image > .md-meta {
  /*border: 1px solid #ddd;*/
  border-radius: 3px;
  padding: 2px 0px 0px 4px;
  font-size: 0.9em;
  color: inherit;
}

.md-tag {
  color: #a7a7a7;
  opacity: 1;
}

.md-toc {
  margin-top: 20px;
  padding-bottom: 20px;
}

.sidebar-tabs {
  border-bottom: none;
}

#typora-quick-open {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

#typora-quick-open-item {
  background-color: #fafafa;
  border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
  border-style: solid;
  border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
  border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
  font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
  visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
  background-color: #fafafa;
  background-color: var(--side-bar-bg-color);
}

.md-lang {
  color: #b4654d;
}

.html-for-mac .context-menu {
  --item-hover-bg-color: #e6f0fe;
}
